<!-- Core JS Files -->
<script src="public/js/core/jquery.min.js" type="text/javascript"></script>
<script src="public/js/core/popper.min.js" type="text/javascript"></script>
<script src="public/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
<script src="public/js/plugins/moment.min.js"></script>

<!-- Github buttons.js -->
<script async defer src="buttons.github.io/buttons.js"></script>

<!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
<script src="public/js/material-kit.mind1f1.js?v=2.2.0" type="text/javascript"></script>